@model Student_Registration.Models.MultiLists
@{
    ViewBag.Title = "AcceptSubjects";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/MyJs.js"></script>
    <script src="~/Content/MJs.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<img src="~/Icon/Frederick-University-logo.jpg" alt="Frederick University Logo" class="avatar" style="display: block; margin-left: auto; margin-right: auto; width: 35%;">
<br />
@using (Html.BeginForm("ConfirmUpdate", "AcceptSubjectsN", FormMethod.Post))
{
    <div class="container" style="width: 50%; margin-left: auto; margin-right: auto;">
        <table class="table table-hover" border="1">
            <thead class="table-secondary">
                <tr>
                    <th scope="col"> Subject Code</th>
                    <th scope="col"> Subject Name </th>
                    <th scope="col"> ECTS </th>
                    <th scope="col"> Semester </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Subject_List)
                {
                    <tr>
                        <td style='display:none'> <input type="text" name="sbe" value="@item.Subj_Id"> </td>
                        <td> @item.SubjCode </td>
                        <td> @item.SubjName </td>
                        <td> @item.Ects </td>
                        <td> @item.Semester @item.SemYear</td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="float: left;">
            <p> <b>Total ECTS: @Model.Sel_ECTS</b> </p>
        </div>
        <div style="float: right">
            <button id="cancel" type="button" class="btn btn-danger me-2" value="@Model.St_ScId" onclick="Decline()" style="float: left">Decline</button>
            <button id="show" class="btn btn-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Download</button>
            <button class="btn btn-primary" type="button" onclick="goBack()" style="float: right">Home</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to proceed? <br /> Click Yes to download an excel file with the student's subjects.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    @Html.HiddenFor(m => m.St_ScId)
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
}
